


code {
  counter-reset: line;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-title] {
  padding: 2px 2px 2px 20px;
  font-size: 0.9em;
  color: white;

  font-family: Fira Code VF, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

[data-rehype-pretty-code-fragment] {
  margin: 1.5rem 0;
  background-color: rgb(1, 22, 39);
  border-radius: 1em;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  margin: 0;

}

[data-rehype-pretty-code-fragment] {
  border-radius: theme('borderRadius.lg');
  margin-left: -5rem;
  margin-right: -5rem;
}


@media (max-width: theme('screens.lg')) {
  [data-rehype-pretty-code-fragment] {
    border-radius: 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}