code {
  counter-reset: line;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-title] {
  padding: 5px 5px 5px 20px;
  border-radius: 0.5em 0.5em 0 0;
  font-size: 1rem;
  line-height: 2.25;
  color: white;
  background-color: rgba(14, 14, 18, 0.85);
  font-family: Fira Code VF, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

[data-rehype-pretty-code-fragment] {
  margin: 1.5rem 0;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  margin: 0;
  border-radius: 0 0 0.5em 0.5em;
}
